.img-box{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.figures, .figures-1, .figures-2{
    width:1400px;
    height: 600px;
    margin:0 auto;
}
.figures{
    animation: opac1 0.5s ease-in-out; 
}
.figures-1{
    animation: opac2 0.5s ease-in-out; 
}
.figures-2{
    animation: opac3 0.5s ease-in-out; 
}

@keyframes opac1{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
@keyframes opac2{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
@keyframes opac3{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  /*
  * media
  */

  @media(max-width:992px) and (min-width:768px){
      .img-box{
        display: flex;
        position: absolute;
        top:155px;
        
    }
      .figures, .figures-1, .figures-2{
        width:385px;
        height: 240px;
        margin-left:8px;
    }
  }
  @media (max-width: 480px) and (min-width: 320px){
      .figures, .figures-1, .figures-2{
        width:181px;
        height: 160px;
        margin-left:9.6px;
        margin-top: 73px;
    }
  }